p{
	border-left: width 20em;
	border-left-color: green;
	border-left-style: solid;
	border-right: width 20em;
	border-right-color: red;
	border-right-style: solid;
	width: 60%;
	height: 400px;
	font-size: 12px;
	letter-spacing: 3em;
	word-spacing: 4ex;
	text-align: justify;
	font-family: verdana;
	text-indent: 25px;
}
p::firstletter{
	font-size: 36px;
	color: blue;
	text-decoration: overline;
	
}
p::firstline{
	text-decoration:underline;
	text-transform: uppercase;
}